<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="esecui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <esecui.Properties.Settings>
            <setting name="BestFitnessLineColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CurrentBestLineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CurrentMeanLineColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CurrentWorstLineColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="BestFitnessLineThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CurrentBestLineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurrentMeanLineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurrentWorstLineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BestFitnessLineColorProjector" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CurrentBestLineColorProjector" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CurrentMeanLineColorProjector" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CurrentWorstLineColorProjector" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="BestFitnessLineThicknessProjector" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CurrentBestLineThicknessProjector" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CurrentMeanLineThicknessProjector" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CurrentWorstLineThicknessProjector" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AxisThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AxisThicknessProjector" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VisualiserShape" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="VisualiserShapeProjector" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="VisualiserBorderColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="VisualiserBorderThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VisualiserFillColor" serializeAs="String">
                <value>64, 0, 0, 255</value>
            </setting>
            <setting name="VisualiserSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="VisualiserBorderColorProjector" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="VisualiserBorderThicknessProjector" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VisualiserFillColorProjector" serializeAs="String">
                <value>32, 0, 0, 255</value>
            </setting>
            <setting name="VisualiserSizeProjector" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GridThickness" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GridColorProjector" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GridThicknessProjector" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UIFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UIFontSizeProjector" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CodeFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CodeFontSizeProjector" serializeAs="String">
                <value>18</value>
            </setting>
        </esecui.Properties.Settings>
    </userSettings>
</configuration>
